.home-container {
  display: flex;
  max-width: 1440px;
  margin: 60px 0px;
  .cards-list-container {
    text-align: center;
    width: 100%;
  }
  .cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 60px 0px;
  }
}
